#html {
  background: linear-gradient(225deg, #f16529, #ff8e93);
}
#css {
  background: linear-gradient(#2965f1, #5183f7);
}
#vue {
  background: linear-gradient(#d2fcad, #22eaeb);
}
#react {
  background: linear-gradient(#61dbfb, #9de5f7);
}
#js {
  background: linear-gradient(#f0db4f, rgb(243, 225, 109));
}

section > div {
  font-size: 18px !important;
  max-height: 100vh;
}

.header {
  position: absolute;
  top: 0;
  height: 55px;
  left: 0;
  right: 0;
  background-color: #33333370;
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: #fff;
}

.header h3 {
  cursor: pointer;
  padding: 5px;
}

.header-icon-container {
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
  color: #fff !important;
}

.header-icon-container .icon {
  font-size: 25px;
}

.header-icon-container:hover {
  background-color: #ffffff50;
}
